*{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}

body{
    overflow-x: hidden;
    background-color: rgb(245, 245, 255);
}

#people,
.container{
    background-color:rgb(211, 214, 253);
    width: calc(90% - 50px);
    border-radius: 20px;
    margin: 50px auto;
    padding: 25px;
}

#people{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.people{
    width: 80px;
    height: 100px;
    background-image: url(../img/read.svg);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    border-radius: 10px;
    margin: 10px;
}


.container{
    display: flex;
    justify-content: space-around;
}

.container > div{
    background-color: rgb(228, 230, 255);
    margin: 25px;
    width: 30%;
    border-radius: 20px;
}


/*Padding-top fait exprès pour tranférer les étudiants simplement*/
#market, #design, #dev{
    margin: 25px;
    padding-top: 110px;
    min-height: 110px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: dashed 2px rgb(211, 214, 253);
    border-radius: 20px;
    position: relative;
    z-index: 10;
}

h4{
    font-size: 32px;
    font-weight: 400;
    color:rgb(211, 214, 253);
    text-align: center;
    margin-top: 25px;
}

#market p, #design p, #dev p{
    position: absolute;
    color: rgb(211, 214, 253);
    font-size: 22px;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -10;
}